<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<context:component-scan base-package="co.sp.beans2"/>
	<context:component-scan base-package="co.sp.beans3"/>
	

	<bean id="b1" class="co.sp.beans.Beans1"/>
	<bean id="x1" class="co.sp.beans2.Beans4"/>
	<bean id="x2" class="co.sp.beans2.Beans4"/>
</beans>